.header {
  height: 60;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__menu {
  color: white;
  border: 1px solid rgb(133, 129, 129);
  border-radius: 4px;
  font-size: large;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 170px;
  object-fit: contain;
  margin: 5px 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px;
}
.header__search:hover {
  box-shadow: 0 0 0 4px rgb(255, 145, 0);
}

.header__searchInput {
  height: 30px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
}
.header__searchIcon {
  padding: 13px;
  height: 50px fit-content;
  background-color: #febd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  color: white;
}
.header__optionlineOne {
  font-size: 14px;
  font-weight: bold;
}
.header__optionlineTwo {
  font-size: 20px;
  font-weight: 600;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
